* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  background-image:url(./cov2.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: red;
  font-size: 2rem;
}
.app__stats_con{
  display: flex;
  flex-direction: column;

}
.app__stats,.app__stats1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}
@media  (max-width: 900px) {
  .app {
    flex-direction: column;
  }
  .app__stats1{
    flex-direction: column;
    text-align: center;
   
  }
}

  